.card-ctr {
  display: grid;
  width: 912px;
  gap: 10px;
  justify-content: space-around;
  grid-template-columns: auto auto auto auto;
  background-color: #F3F3F3;
  padding: 10px;
  border-radius: 16px;
}

.card {
  width: 191px;
  height: 231px;
  user-select: none;
  border-radius: 16px;
}